<%= form_with model: @oilchange, url: vehicle_maintenance_logs_path do |f| %>
  

  <div>
    <%= f.label :oil_type %>
    <%= f.text_field :oiltype %>
  </div>
  <div>
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>