<div>
<div>
<p> Member since: <%current_user.created_at%></p>
<p> Number of Vehicles</p>
</div>


<div>
<p> Change Password</p>
<p><%= link_to  "Reset Password",edit_user_password_path %></p>
</div>

<div>
<p> Change Registration</p>
<p><%= link_to  "Reset Password",edit_user_password_path %></p>

</div>
</div>