<%# <ons-navigator animation="none"></ons-navigator> %>

<%# <template id="new-page"> %>
<ons-page>
  <ons-toolbar class="toolbar">
    <div class="left toolbar_left" style="color: red; padding-left:5px">Icon</div>
    <div class="center">GloveBox</div>
    <div class="right">
      <ons-toolbar-button>
        <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <h3 style="padding-left: 50px;">Add a New Vehicle</h3>

  <%= form_for(@vehicle, local: true) do |f| %>   

  <ons-list modifier="inset">
    <ons-list-item modifier="longdivider">Name</ons-list-item>
    <ons-list-item modifier="longdivider">Color</ons-list-item>
  </ons-list>
  <br>
  <ons-list modifier="inset">
    <ons-list-item modifier="longdivider">Make</ons-list-item>
    <ons-list-item modifier="longdivider">Model</ons-list-item>
    <ons-list-item modifier="longdivider">Year</ons-list-item>
  </ons-list>
  <br>
  <ons-list modifier="inset">
    <ons-list-item modifier="longdivider">License Plate number</ons-list-item>
    <ons-list-item modifier="longdivider">VIN</ons-list-item>
    <ons-list-item modifier="longdivider">Date of Last Inspection</ons-list-item>
  </ons-list>
  <br>
  <ons-list modifier="inset">
    <ons-list-item modifier="longdivider">Title</ons-list-item>
    <ons-list-item modifier="longdivider">Registration</ons-list-item>
  </ons-list>


  </ons-page>
  <script>
    ons.getScriptPage().onInit = function() {};

    document.addEventListener('init', function(event) {
        console.log('********************')
      var page = event.target;
      if (page.matches('#new-page')) {
        page.querySelector('ons-toolbar .center').innerHTML = 'GloveBox';
        page.querySelector('ons-toolbar-button').onclick = function() {};
        console.log('$$$$$$$$$$$$$$$')
      }
    });    

    var myNavigator = document.getElementById('myNavigator');
    myNavigator.pushPage('#new-page');

   
  </script>


<% end %>