<ons-page>
  <%# <ons-toolbar> %>
    <div class="toolbar">
      <div class="toolbar__left">
        <span class="toolbar-button toolbar-button--outline">
          <i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
        </span>
      </div>

    <div class="toolbar__center">
        User's GloveBox
    </div>

    <div class="toolbar__right">
      <span class="toolbar-button toolbar-button--outline">Button</span>
  </div>
</div>
  <%# </ons-toolbar> %>

<h1>Here are all my vehicles!</h1>

 <div style="height: 200px; padding: 1px 0 0 0;">
  <div class="card">
    <div class="card__content">my car.</div>
    <img class="list-item__thumbnail" src="https://cdn.pixabay.com/photo/2012/05/29/00/43/car-49278_1280.jpg">
  </div>
</div>

<div style="height: 200px; padding: 1px 0 0 0;">
  <div class="card">
    <div class="card__content">my other car.</div>
    <img class="list-item__thumbnail" src="https://cdn.pixabay.com/photo/2016/04/01/12/16/car-1300629__480.png">
  </div>
</div>

<div style="height: 200px; padding: 1px 0 0 0;">
  <div class="card">
    <div class="card__content">another car.</div>
    <img class="list-item__thumbnail" src="https://cdn.pixabay.com/photo/2017/03/05/15/29/aston-2118857_1280.jpg">
  </div>
</div>

</ons-page>

