<ons-page>
  <ons-toolbar style="background-color: #3A405A;">
    <div class="left">
      <ons-toolbar-button><%= link_to 'Back', :back, class: "button--quiet", style:"color:white;" %></ons-toolbar-button>
    </div>
    <div class="center" style="color:white;"><ons-toolbar-button><%= link_to 'GloveBox', vehicles_path, class:"button--quiet", style:"color: white; font-weight:bold;" %></ons-toolbar-button></div>
  </ons-toolbar>
 
<h2 style="text-align: center; margin-top: 10px; font-family: 'Raleway', sans-serif;">Add a Vehicle</h2>


<%= render 'form' %>




