<ons-page id="new-page">
  <ons-toolbar class="toolbar">
    <div class="left toolbar_left" style="color: red; padding-left:5px">Icon</div>
    <div class="center">GloveBox</div>
    <div class="right">
      <ons-toolbar-button>
        <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <h1>Add a New Vehicle</h1>

  <%= form_for(@vehicle, local: true) do |f| %>   

  <ons-list modifier="inset" style="margin:5px">
    <%# <ons-list-header>Inset list</ons-list-header> %>
    <ons-list-item modifier="longdivider"><%= f.text_field :name, autocomplete: "name", class: 'text-input text-input--underbar', 
        placeholder: 'Name' %></ons-list-item>
    <ons-list-item modifier="longdivider">Item B</ons-list-item>
  </ons-list>


  <script>
    ons.getScriptPage().onInit = function() {};

    document.addEventListener('init', function(event) {
        console.log('********************')
      var page = event.target;
      if (page.matches('#new-page')) {
        page.querySelector('ons-toolbar .center').innerHTML = 'GloveBox';
        page.querySelector('ons-toolbar-button').onclick = function() {};
        console.log('$$$$$$$$$$$$$$$')
      }
    });    
  </script>
</ons-page>

<% end %>

<%# //   <ons-list-item class="list-itme">
//     <div class="left toolbar_left">Left List Item</div>
//     <div class="center toolbar_center">Center List Item</div>
//     <div class="right toolbar_right">Right List Item</div>
//   </ons-list-item>

//   <div class="bottom-bar">
//     <div class="bottom-bar__line-height" style="text-align:center">Bottom Toolbar</div>
//   </div>

  
<h4>Hi there</h4> %>
